<nav class="masthead">
<ul class="language-nav">
  <li>
    <a href="http://localhost:3000">CSS</a> 
  </li>
  <li>
    <a href="http://localhost:3000">HTML</a> 
  </li> 
  <li>
    <a href="http://localhost:3000">Javascript</a> 
  </li>
  <li>
    <a href="http://localhost:3000">Ruby</a> 
  </li>
</ul>

<div class="separator-div">

</div>

<figure>  
  <img class="logo" src="assets/AA_Times_Logo.png">
</figure>


<ul class="info-panel" >
  <li>
    Tuesday, October 18, 2016
  </li>
  <li>
    <i class="far fa-newspaper"></i>
    <span>Today’s Paper</span>
  </li>
  <li>
    <i class="fas fa-video"></i>
    <span>Video</span>
  </li>
  <li>
    77°F
  </li>
  <li>
    AAO <strong>+100%<strong>
  </li>
</ul>

</nav>

